<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ServerConnection" connectionString="Server=[server_name];Trusted_Connection=True;"
			providerName="System.Data.SqlClient"/>
		<add name="DBConnection" connectionString="Server=[server_name];Database=[db_name];Trusted_Connection=True;"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>